/*------------------------------------*\
    $Header
\*------------------------------------*/

.site-header {}

.site-branding {

	.site-logo a{
		display: block;
	}

	img{
		display: block;
		margin:0 auto;
		max-width: 100%;
		width: auto;
		height: auto;
	}

}