/*------------------------------------*\
    $Sidebar/Widgets
\*------------------------------------*/

.widget {
	padding: 0.2em;
	margin-bottom:($base-spacing-unit*1.5);
    margin-bottom:(($base-spacing-unit*1.5) / $base-font-size)*1rem;

    -ms-word-wrap: break-word;
	word-wrap: break-word;

	ul {
		margin: 0;
		list-style: none;
	}
}

.widget-1{
	margin-top:($base-spacing-unit*1.5);
    margin-top:(($base-spacing-unit*1.5) / $base-font-size)*1rem;
}