/*------------------------------------*\
    $Page Navigation
\*------------------------------------*/

/**
 * Simple nav
 */
.paging-navigation, .post-navigation{ 
	margin: 1em 0; 

	.nav-previous, .nav-next{
		-webkit-hyphens: auto;
		-moz-hyphens:    auto;
		-ms-hyphens:     auto;
		hyphens:         auto;
		word-wrap: break-word;
		max-width: 50%;
	}

	.nav-previous{
		float: left;
		text-align: left;
	}

	.nav-next{
		float: right;
		text-align:right;
	}
}



/**
 * Numbered nav
 */
.number-navigation{
	margin:1em 0;
}

.vital_page_navi {

	text-align:center;
	margin:0;

	li{
		display: inline-block;
		*display: inline;
		*zoom:1;
		
		a {
			padding: 0.6em 0.9em 0.2em; 
			display: block; 
			text-decoration: none; 
			position: relative; 
			
			&:hover, 
			&:focus {
				color: $brand-c-highlight;
			}
		}

	}

	/* current page link */	
	.bpn-current { 
		padding: 0.6em 0.9em 0.2em; 
		border-bottom: 1px dashed $brand-c-highlight; 
		position: relative; 

		a {

			&:hover,
			&:focus {}
		
		}

	}//end .bpn-current

	.bpn-prev-link{
		float: left;
	}

	.bpn-next-link{
		float: right;
	}

	
}//end .vital_page_navi 