/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/**
 * Layout and grid styles
 */

.wrap { 
	width: 90%;
	max-width: $brand-layout-max;
	margin: 0 auto;
}