/*
CSS for the Dashboard Tweaks Plugin
*/

a{
	-webkit-transition: color 0.4s, background-color 0.4s;
	   -moz-transition: color 0.4s, background-color 0.4s; 
		-ms-transition: color 0.4s, background-color 0.4s;
		 -o-transition: color 0.4s, background-color 0.4s;
		    transition: color 0.4s, background-color 0.4s;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-wp-logo > .ab-item .ab-icon {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	padding:0;
	background-image: url(../img/admin-bar-logo.png) !important;
	background-position: 0 -20px;
	background-repeat: no-repeat;
	text-indent: -999px;


	-webkit-transition: none;
	   -moz-transition: none; 
		-ms-transition: none;
		 -o-transition: none;
		    transition: none;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-wp-logo > .ab-item:hover .ab-icon {
	background-position: 0 0px;
}

/*For custom warning messages*/
.tando-warning-wrap{
	padding:1.5em 0;
	.tando-custom-warning{
		background:#222;
		padding:1em;
		color:#eee;
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
				box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	}
}

/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic;
}