/******************************************************************
Author: Tedworth and Oscar - http://tedworthandoscar.co.uk
Stylesheet: Login Stylesheet
******************************************************************/


body.login {
	background:url(../img/log-back.jpg);
	//background: #fff;
	font-family:'Goudy Old Style',Palatino,'Book Antiqua',serif;
	font-size:1em;
} 


#login {} /* the form box */

/*body class of login*/
.login{

	/*
	This is the Wordpress logo in the admin area.
	You'll have to load your own images and mess
	with the width and height.
	*/
	 h1 a {
		background: url(../img/login-logo.png) no-repeat top center; /* make sure to replace this! */
		width: 326px;
		height: 67px;
		text-indent: -9999px;
		overflow: hidden;
		padding-bottom: 15px;
		display: block;
	}

	 form {
		margin-left: 8px;
		padding: 26px 24px 66px;
		font-weight: normal;
		background: transparent;
		border: none;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		-webkit-box-shadow: none;
		 -khtml-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;

		label{
			color:#222;
			font-size:1em;
		}

		.input{
			font-family:'Goudy Old Style',Palatino,'Book Antiqua',serif;
			width: 97%;
			padding: 3px;
			margin-top: 6px;
			margin-right: 6px;
			margin-bottom: 1.5em;
			border: none;
			border-bottom:dashed 1px #660000;
			background: transparent;
			outline: none;
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
					box-shadow: none;
			-webkit-border-radius: 0;
			 -khtml-border-radius: 0;
			   -moz-border-radius: 0;
					border-radius: 0;
			-webkit-transition: background-color 0.4s;
			   -moz-transition: background-color 0.4s; 
				-ms-transition: background-color 0.4s;
				 -o-transition: background-color 0.4s;
				    transition: background-color 0.4s;

			&:hover{
				background: #FBFBFB;
				background: rgba(255,255,255,0.3);
			}

			&:focus{
				background: #FBFBFB;
				background: rgba(255,255,255,0.6);
			}
		}/* input */
	}/* login form */

	.message{
		background:transparent;
		border:none;
		text-align:center;
		padding-top: 0;
	}

	#login_error{
		@extend .message;
		color:#660000;

		a{
			color:#222;
			-webkit-transition: color 0.4s, border 0.4s;
			   -moz-transition: color 0.4s, border 0.4s; 
				-ms-transition: color 0.4s, border 0.4s;
				 -o-transition: color 0.4s, border 0.4s;
				    transition: color 0.4s, border 0.4s;

			&:hover{
				color:#660000;
			}
		}
	}


	input:-webkit-autofill {
	    background: rgba(255,255,255,0.3);
	}


	/*
	You'll have to override some of the default styles
	but since we're referencing the id, it should be easy.
	*/
	 #wp-submit {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
		-webkit-border-radius: 2px;
		 -khtml-border-radius: 2px;
		   -moz-border-radius: 2px;
				border-radius: 2px;
		-webkit-transition: all 0.4s;
		   -moz-transition: all 0.4s; 
			-ms-transition: all 0.4s;
			 -o-transition: all 0.4s;
			    transition: all 0.4s;
		position:relative;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
		     -o-box-sizing: border-box; 
				box-sizing: border-box;

		background:#333;
		border:none;
		outline:none;
		font-size:1em;
		height:auto;
		line-height: 1.2;
		padding:0.75em 1.5em;
		font-weight:normal;

		&:hover, &:focus{
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4);
		   -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4);
				box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4);
		background:#222;
		}
	} /* login button*/

	 .forgetmenot{
		padding:0.4em 0;

		label{
			font-size:0.85em;
		}
	}

	#nav, #backtoblog{
		text-align:center;
		margin-left:8px;

		a{
			color:#222 !important;
			text-decoration:none;
			border-bottom:solid 1px #660000;
			padding-bottom:0.1em;
			-webkit-transition: color 0.4s, border 0.4s;
			   -moz-transition: color 0.4s, border 0.4s; 
				-ms-transition: color 0.4s, border 0.4s;
				 -o-transition: color 0.4s, border 0.4s;
				    transition: color 0.4s, border 0.4s;

			&:hover, &:focus{
				color:#660000 !important;
				border-bottom:solid 1px #222;
			}
		}
	}

	#nav{
		padding-top:2em;
	}

}/*end login body class*/

