/*------------------------------------*\
    MAIN.CSS
\*------------------------------------*/
/**
 *
 * acts as a global file pulling in many smaller and more specific .scss files
 *
 * please minify production css!
 * 
 * not quite committing to but using tons of code from https://github.com/csswizardry/inuit.css
 *
 */

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * IMPORTS.............Begin importing the sections below
 *
 *
 * --------------------
 * /VARIABLES..........Mixins, default typography, reusable variables that shouldn't print to .css
 *
 * 1. GENERIC VARIABLES THAT FOR THE MOST PART SHOULDN'T BE EDITED
 * DEFAULTS............Sensible set of defaults for font sizes/line-height etc. - these can be overwritten later best leave this file be
 * BOURBON.............http://bourbon.io/ 
 * MIXINS..............Additional mixins - feel free to chuck in anything useful but highly generic
 *						   font-size($font-size, $line-height:true) - font sizing & line height utility function
 *						   @include headings(1, 3){ color:#BADA55; } - style multiple headings
 *					       @include truncate(100%); - forces text to truncate (with ellipsis) after max-width provided as argument
 *					       @include break-word(); - breaks long words (with hyphens	where supported)
 *					       @include arrow(bottom, center, red, black); - arrow($arrow-edge, $arrow-location, $arrow-color, $border-color: $arrow-color)
 *
 * 2. SITE SPECIFIC VARIABLES THAT SHOULD DEFINITELY BE OVERWRITTEN ON A PER SITE BASIS
 * BREAKPOINTS.........Site specific breakpoints - http://css-tricks.com/naming-media-queries/
 * BRAND...............Colours, border-radius, transitions timing, layout widths; general brand variables - May get big enough to split into separate files?
 *
 * 
 *
 *
 * --------------------
 * /GENERIC............On to printed styles - generally the 'generic' set are the same for every site and act as a clean slate
 *
 * NORMALIZE...........normalize.css
 * RESET...............Set some defaults - box-sizing: border-box; set in here.
 * SHARED..............Shared declarations - margin bottom & left based on default font-size & spacing.
 *
 *
 *
 *
 * --------------------
 * /GENERIC/BASE.......unclassed html etc. - this is really basic/simple stuff - basically an extension to reset....
 *
 * 1. TAKEN VERBATIM FROM INUIT.CSS FREE TO OVERWRITE WITH UPDATES
 * MAIN................High-level elements like `html`, `body`, etc.
 * HEADINGS............Double-stranded heading hierarchy
 * PARAGRAPHS..........
 * SMALLPRINT..........Smaller text elements like `small`
 * QUOTES..............
 * CODE................
 * LISTS...............
 * IMAGES..............
 * TABLES..............
 * FORMS...............
 *
 *
 *
 *
 * --------------------
 * /GENERIC/OBJECTS....Reusable global objects
 *
 * 1. TAKEN VERBATIM FROM INUIT.CSS FREE TO OVERWRITE WITH UPDATES - TURN OFF HERE IF YOU WANT
 */ 
 	$use-nav: true;
 	$use-options: true;
 	$use-breadcrumb: true;
 	$use-media: true;
 	$use-beautons:true;
 	$use-rules:true;
 /*
 * NAV.................A simple abstraction to put a list in horizontal nav mode
 * OPTIONS.............Grouped nav items
 * BREADCRUMB..........Simple breadcrumb trail object
 * MEDIA...............Media object
 * BEAUTONS............Use the beautons micro library
 * RULES...............Horizontal rules
 *
 * 2. ADDITIONAL GENERIC OBJECTS - SOURCES AS LISTED
 * AMPERSAND...........Using a fun ampersand - http://simplebits.com/notebook/2008/08/14/ampersands-2/
 *
 *
 *
 *
 * --------------------
 * /THEME-GLOBAL.......Theme/site specific styles which apply globally (Grid system, link styles, typography etc.) - you should definitely be overwriting these!
 *
 * WORDPRESS-GENERIC...Anything generic relating to WordPress - mostly the admin bar on the front end...
 * GRID-SETUP..........Imports CSSWizardry grids and sets setup variables allowing _csswizardry-grids.scss to be overwritten by updates.
 * FONTS...............Brand typography including @import statements.
 * ICONS...............Site's icons (using genericons as a default set)
 * THEME-MAIN..........Highlights, html/body styles default brand typography and colours
 * LINKS...............General styling and transitions for links
 * TYPOGRAPHY..........Overrides or specific styles for headers, paragraphs etc.
 * LAYOUT..............Layout styles in addition to grid - generally wraps etc.
 * FORMALIZE...........General theme styling for forms based on formalize
 *
 *
 * /THEME-SECTIONS.....Theme specific sections - more specific than the above!
 *
 * HEADER..............Site logo and header
 * NAV.................Navigation (header/footer & generic menu)
 * POSTS & CONTENT.....Main WP posts & content style defaults
 * PAGE NAVIGATION.....Prev/Next page styling 
 * COMMENTS............WP comments/comment form styles
 * SIDEBAR/WIDGETS.....WP Sidebar/widget styles
 * FOOTER-3D...........T&O attribution in the site footer
 *
 *
 *
 *
 *
 * RESPONSIVE ID.......Responsive Indicator - for js
 * HELPER..............A series of non semantic helper classes to use arbitrarily - should be the last thing on the pile!
 * PRINT...............html5bp print styles.
 */





/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "variables/defaults";
@import "bourbon/bourbon";
@import "variables/mixins";
@import "variables/breakpoints";
@import "variables/brand";





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
/**
 * Generic utility styles etc. - generally the same for every site
 */
@import "generic/normalize";
@import "generic/reset";
@import "generic/shared";





/**
 * Base styles; unclassed HTML elements etc.
 */
@import "generic/base/main";
@import "generic/base/headings";
@import "generic/base/paragraphs";
@import "generic/base/smallprint";
@import "generic/base/quotes";
@import "generic/base/code";
@import "generic/base/images";
@import "generic/base/lists";
@import "generic/base/tables";
@import "generic/base/forms";





/**
 * Objects and abstractions
 */
@import "generic/objects/nav";
@import "generic/objects/options";
@import "generic/objects/breadcrumb";
@import "generic/objects/media";
@import "generic/objects/beautons";
@import "generic/objects/rules";
@import "generic/objects/ampersand";





/*------------------------------------*\
    $THEME-GLOBAL
\*------------------------------------*/
@import "theme-global/wordpress-generic";
@import "theme-global/grid/grid-setup";
@import "theme-global/fonts";
@import "theme-global/icons";
@import "theme-global/theme-main";
@import "theme-global/links";
@import "theme-global/typography";
@import "theme-global/layout";
@import "theme-global/formalize";





/*------------------------------------*\
    $THEME-SECTIONS
\*------------------------------------*/
@import "theme-sections/header";
@import "theme-sections/nav";
@import "theme-sections/post-and-content";
@import "theme-sections/page-navigation";
@import "theme-sections/comments";
@import "theme-sections/sidebar-widgets";
@import "theme-sections/footer-3d";





/**
 * Style trumps; helper classes
 */
@import "generic/responsive-indicator";
@import "generic/helper";
@import "generic/print";