//admin theme implementation from http://wordpress.org/plugins/admin-color-schemes/ 1.0

$base-color: #333333; //main backgrounds etc.
$highlight-color: #d4604e; //highlights...hovers/selected menu etc.
$notification-color: #F7F1E3; //comments/updates
$action-color: #d4604e; //buttons and that

$menu-bubble-text: #111;

@import "admin-colours/admin";
