/*------------------------------------*\
    $BASE
\*------------------------------------*/

/**
 * Selection highlights for text and links
 */
::-moz-selection { background:  $brand-c-main; color: $brand-c-inverse; text-shadow: none; }
::selection { background: $brand-c-main; color: $brand-c-inverse; text-shadow: none; }
a::-moz-selection { background: $brand-c-link; color: $brand-c-inverse; text-shadow: 1px 1px 2px rgba(0,0,0,0.3); }
a::selection { background: $brand-c-link; color: $brand-c-inverse; text-shadow: 1px 1px 2px rgba(0,0,0,0.3); }


/**
 * Lay down the branding foundation for main body text.
 */
body{
	font-family: $brand-ff-main;
	color: $brand-c-main;
	background-color: $brand-c-body-back;

        // loading the custom fonts in no-js makes design sense in most cases
        // because the FOIT is better than the custom fonts never appearing!
    .js--main-fonts &, .no-js &{
        font-family: $brand-ff-main-loaded;        
    }
}