/*------------------------------------*\
    $EXPANDABLE CONTENT
\*------------------------------------*/

/*******************
HIDDEN TEXT SECTIONS
*******************/
.js--vitally-expandable{ 
    margin: -1px auto; 
    overflow: hidden;
    height: 1px;
    //visibility: hidden; //visibility hidden prevents focus and isn't really needed here
    pointer-events: none;
    opacity: 0;

    transition: 
        visibility 0ms ease $brand-transition,
        margin 0ms ease $brand-transition,
        opacity $brand-transition ease;
}

.js--vitally-expanded, .js--vitally-expandable--squire, .js--vitally-expandable--squire.js--vitally-expanded{
    margin:0 auto;
    //visibility: visible;
    pointer-events: auto;
    height: auto;
    opacity: 1;

    transition: opacity $brand-transition ease;
}

@include media-query(squire){
    .js--vitally-expandable--squire{
        margin: -1px auto; 
        overflow: hidden;
        height: 1px;
        //visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: 
            visibility 0ms ease $brand-transition,
            opacity $brand-transition ease;
    }
}


.js--animating-expander-hide, .js--vitally-expandable--squire.js--animating-expander-hide{
    transition: 
        visibility 0ms ease $brand-transition,
        margin 0ms ease $brand-transition,
        height $brand-transition ease,
        opacity $brand-transition ease;
}

.js--animating-expander-show, .js--vitally-expandable--squire.js--animating-expander-show{
    transition:
        opacity $brand-transition ease,
        height $brand-transition ease;
}