/*------------------------------------*\
    $PICTUREFILL STYLING
\*------------------------------------*/

    //the responsive image wrap itself
.js--vitally-responsible{
    position: relative;

    display: inline-block;
    *display: inline;
    *zoom:1;

    vertical-align: top;
        //as a default to remove dead spacing etc.

    max-width: 100%;

    .no-js &{
        /**
         * php assigns fixed widths to these wraps but those assume that 
         * the largest image variant will be available which may not be the 
         * case with js disabled depending on which fallback image we load...
         */
        //width: auto;
            //for now we're loading the largest size by default so this isn't used
    }


    img{
        position: relative;
        z-index: 1;

        //opacity:0;
        transition: opacity $brand-transition ease;

        vertical-align: top;
        max-width:100%;
        height: auto;

        .no-js &{
            opacity:1;
        }
    }

    .wp-caption &{
        display: block;
        margin:0 auto;
    }

}
    




    //the (optional) padder inside the wrap
.js--vitally-responsible__padder{
    height: 0;
    width: 100%;

    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: top;

    position: static;
    left:0;
    top:0;
    z-index: 0;

    //background: url('../../img/loader.gif') no-repeat center darken($brand-c-body-back,2%);
    background: darken($brand-c-body-back, 2%);
    transition: opacity $brand-transition ease;

    &:after{
        content: ' ';
        position: absolute;
        display: block;
        width: $bsu-l;
        height: $bsu-l;
        border-radius: 100%;
        background-color: $brand-c-subtler;
        top: 50%;
        left: 50%;
        margin-top: -$bsu;
        margin-left: -$bsu;
        opacity: 0.8;
            //defined in components.spinners
        animation: sk-scaleout 1.5s infinite ease-in-out;
    }
}




    //link that shows whilst waiting for images to load or if js fails...
    //set this to display none if it doesn't suit the theme!
.js--vitally-responsible__fallback-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: $bsu;
    text-align: left;
    color: $brand-c-main;
    opacity: 0.2;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    overflow: hidden;
    transition: opacity $brand-transition ease, color $brand-transition ease;
    z-index: 3;

    &:hover, &:focus{
        opacity: 0.4;
    }

    .js--vitally-responsible--loaded &{
        z-index: 0;
    }
}





    //absolutely positioned images inside padded resp images
.js--vitally-responsible--padded{
    img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: auto;
        z-index: 1;
    }
}

.js--vitally-responsible--deferred, .js--vitally-responsible--loading{
    img{
        opacity:0;
    }
}


.js--vitally-responsible--loaded{
    .picturefill-padder{
        //position: absolute;
        //background-image: none;
        opacity: 0;
    }

    img{
        opacity:1;
        //position: relative;
    }
}



/**
 * PIXELHOLDER backgrounds
 */
.js--vitally-responsible__padder-back-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.8;
    transition: background 0ms ease $brand-transition;

    .js--vitally-responsible--loaded &{
        background: transparent !important; 
    }

    .no-js &{
        display: none;
        background: transparent !important; 
    }
}