/*------------------------------------*\
    $NAV
\*------------------------------------*/
.skip-link{
    display:block;
    text-align:center;
}




/**
 * Hamburger toggle
 */
.menu-toggle{
    height: $bsu*0.75;
    width: $bsu;
    display: block;
    margin:  0 auto;
    position: relative;

    transition: margin-bottom $brand-transition ease;

    //hidden at wider sizes
    @include media-query(squire){
        display: none;
    }
}//end .menu-toggle

.menu-open{
    margin-bottom: $bsu;
}


.menu-toggle .hamburger {
    position: absolute;
    top: 8px;
    display: block;
    width: $bsu;
    height: 2px;
    margin:0;
    background-color: $brand-c-main;
    font-size: 0px;
    transition: background-color $brand-transition ease, transform $brand-transition ease;
}

.menu-open .hamburger {
    background-color: transparent;
}

.menu-toggle .hamburger:before,
.menu-toggle .hamburger:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: $brand-c-main;
    content: '';
    transition: transform $brand-transition;
}

.menu-toggle .hamburger:before {
    transform: translateY(-(8px));
}

.menu-toggle .hamburger:after {
    transform: translateY(8px);
}

.menu-open .hamburger:before {
    transform: translateY(0) rotate(45deg);
}

.menu-open .hamburger:after {
    transform: translateY(0) rotate(-45deg);
}



/**
 * Header only navigation styles
 */
.menu--header {
    text-align: center;
}




/**
 * General navigation styles
 */
.menu{

        //remove 300ms delay on mobile devices..
        //also removes scroll
        //https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#Values
    //touch-action: none;

    margin:0;
    list-style:none;

        //at mobile sizes overflow hidden should stay even after the 
        //js--toggle-visuallyhidden class is removed - this is for smoooth 
        //animations... it's removed at desktop sizes.
    overflow: hidden;

    @include media-query(squire){
        overflow: visible;

        &.js--toggle-visuallyhidden{
            //at this size the menus overwrite the js--toggle-visuallyhidden class
            background: transparent;
            clip: auto;
            height: auto;
            width: auto;
            margin: 0;
            padding: 0;
            position: relative;

            opacity: 1;
            overflow: visible;
        }
    }


    .no-js &.js--toggle-visuallyhidden{
        //in no-js the menus overwrite the js--toggle-visuallyhidden class that
        //is applied to them
        clip: auto;
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        position: relative;

        opacity: 1;
    }

        //mobile menu animation is using the same javascript logic as the 
        //dropdowns - which is why it shares the .animating-dropdown class
    &.animating-dropdown{
        transition: 
            height $brand-transition ease,
            opacity $brand-transition ease;
    }//end mobile active dropdowns


    ul{
        margin: 0;
        list-style: none;
    }

    //li in  menus
    li{
        @include media-query(squire){
            display:inline-block;
            *display: inline;
            *zoom:1;
            vertical-align: top;
            position: relative;
            padding:0 0 0 $bsu-s;
        }//end li at-least($squire)
        @include media-query(baron){
            padding:0 0 0 $bsu;
        }
    }//end .menu li


    //links in menus
    a{
        display: block;
        padding: $bsu-s 0;
        line-height: 1;
        color: $brand-c-main;
        background: $brand-c-inverse;
        @include inuit-font-size(18px);

        &:hover, &:focus{
            color: $brand-c-main;
        }

        &:focus{
            outline: 0;
            background: $brand-c-subtler;
        }

        @include media-query(squire){
            background: transparent;
            padding:4px $bsu-s;
            color: $brand-c-main;
            @include inuit-font-size(16px);
            line-height: 1;
            &:hover, &:focus{
                color: $brand-c-link;
                background: transparent;
            }
        }
    }//end .menu a

    .focused > a{
        @include media-query(squire){
            color: $brand-c-link;
        }
    }





    /**
     * DROPDOWNS
     * ---------
     */
    //dropdown menus
    .dropdown-menu{

            // visually hidden with the js--visuallyhidden class which is 
            // added/removed by js
            // we can't use Scale because we need this to push down other li
        overflow: hidden;
        padding: 0 $bsu-s*0.5;
        background: $brand-c-subtler;

        li{
            &:first-child{
                margin-top: $bsu-s*0.5;
            }
            &:last-child{
                margin-bottom: $bsu-s*0.5;
            }
        }

        a{
            background: $brand-c-subtler;
            @include inuit-font-size(16px);
            @include media-query(squire){
                @include inuit-font-size(14px);
                line-height: 1;
            }

            &:focus{
                background: $brand-c-subtler;
            }
        }

    }//end .menu .dropdown-menu

    .animating-dropdown{
        transition: 
            height $brand-transition ease,
            opacity $brand-transition ease;
    }//end mobile active dropdowns

    //wider screen dropdowns
    @include media-query(squire){
        .dropdown-menu, .dropdown-menu{

            position: absolute;
            clip: auto;
            z-index: $brand-z-1--dropdown-menu;
            top: 100%;
            left: $bsu-s;//padding on parent li
            //min-width: 100%;
            white-space:nowrap;
            text-align: left;
            padding:$bsu-s*0.5 0;
            background: $brand-c-inverse;
            -webkit-transform: translateZ(0);

            //animations at this size are handled by css
            //following rules override the js--visuallyhidden class
            clip: auto;
            height: auto;
            width: auto;
            margin: 0;

            opacity: 0;
            max-height: 1px;
            max-width: 1px;
            visibility: hidden;
            pointer-events:none;
            transform: translateY(-$bsu-s*0.5);
            
            transition: 
                max-height 0ms ease $brand-transition,
                max-width 0ms ease $brand-transition,
                visibility 0ms ease $brand-transition,
                transform $brand-transition ease,
                opacity $brand-transition ease;


            a{
                background: $brand-c-inverse;
            }

        }//end .dropdown-menu ($squire)

        .dropdown:hover .dropdown-menu, .active-dropdown{
                //no js just gets a more or less animation-free version of the dropdowns
                //js users get the animation handled from js side...
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            max-height: 2000px;
            max-width: 1000px;
            transition:
                transform $brand-transition ease,
                opacity $brand-transition ease;
        }


        .dropdown-menu li{
            padding: 0;
            margin: 0;
            display: block;
            &:first-child, &:last-child{
                padding: 0;
                margin: 0;
                a{
                    padding:$bsu-s*0.5 $bsu-s;
                }
            }
        }

    }//end wide screen dropdowns ($squire)

    @include media-query(baron){
        .dropdown-menu{
            left: $bsu;//padding on parent li
        }
    }
        

    //second level dropdown menu - they get a '-' prefixed
    .dropdown-menu .dropdown-menu{

        //overriding wide screen absolute positioning for dropdowns
        position: relative;
        top:auto;
        left: auto;
        min-width: 0;
        width: auto;
        font-size: 0.9em;
        padding: 0;
        margin: 0;
        @include media-query(squire){
            padding: 0 0 0 $bsu-s;
        }
        a{
            &:before{
                content: "- ";
            }
        }
    }//end .dropdown-menu .dropdown-menu


    /**
     * dropdown toggles - links to expand/show dropdowns
     */
    .dropdown-toggle{

        position: relative;

        &:after{
            font-family: monospace;
            content: "+";
            color: $brand-c-subtle;
            line-height: 1;
            position: absolute;
            top:50%;
            margin-top:-6px;
            left: auto;
            margin-left: $bsu-s*0.5;
            transition: transform $brand-transition ease;

            .no-js &{
                display: none;
            }
        }//end .dropdown-toggle:after

        &:focus{
            &:after{
                transform: rotate(45deg);
            }
        }

        @include media-query(squire){
            &:after{
                margin-left: auto;
                right: 0;

                .no-js &{
                    display: block;
                }
            }
            &:hover, &:focus{
                &:after{
                    transform: rotate(45deg);
                }
            }
        }

    }//end .menu .dropdown-toggle
    .active-dropdown-link{
        &:after{
            transform: rotate(45deg);
        }
    }

    @include media-query(squire){
        .dropdown:hover > .dropdown-toggle {
            &:after{
                transform: rotate(45deg);
            }
        }
    }

}//end .menu