/*------------------------------------*\
    $TO TOP LINK
\*------------------------------------*/

.dynamic-to-top{
	display: none;


	position:fixed;
	bottom:$bsu;
	right:-$bsu-l;
	padding:$bsu-s;

	z-index:$brand-z-9--to-top;

	display:block;

	opacity:0;
	
	transition: all $brand-transition ease-out;

	&:hover, &:focus{
		opacity:1;
	}
}

.fixed-supported .dynamic-to-top{
	display: block;
}

.top-show{
	right:0;
	opacity:0.5;
}