/*------------------------------------*\
    $FONTS
\*------------------------------------*/

 /**
  * We use font load events to add a class to our <html> tag to let us know 
  * fonts loaded (using https://github.com/zachleat/fontfaceonload)
  * -
  * implementation details - see the font-loader.js file in js/main/modules
  * -
  * some sites/clients probably won't want the fallback fonts shown in this way
  * for them we can either strip out the js and use default behaviour or 
  * use the js/classes to fade in the fonts once loaded...
  */

/**
 * DON'T FORGET:
 *
 * - new fonts need to be added to the font-loader.js file to be loaded without
 *   forcing a Flash Of Invisible Text
 *
 * - they may also need to be added in the js in the header.php file...
 *
 * - edit the editor styles css if you add lots of new fonts here!
 */


/**
 * Main font (generally body font) 
 * we have two weights in this example
 */

@font-face {
    font-family: 'montserratbold';
    src: url('../../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('../../fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../../fonts/montserrat/montserrat-regular-webfont.eot');
    src: url('../../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('../../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$brand-ff-main: $sans-serif;
$brand-ff-main-loaded: 'montserratregular', $sans-serif;

    //if you remove this (i.e. a bold variant isn't required for this site) 
    //don't forget to edit _base.typography.scss to remove references
$brand-ff-bold: $sans-serif;
$brand-ff-bold-loaded: 'montserratbold', $sans-serif;

    //if you want to add an italic or bolditalic then again make sure to 
    //edit _base.typography.scss to add the default styling for things like <em>


/**
 * Secondary font (in this example used for headings)
 */

//It would be a lot simpler to just support woff at this stage... 
//If fonts are non critical to brand consider just serving woff and leaving old IE with fallbacks. http://caniuse.com/#feat=woff
@font-face {
    font-family: 'goudyBookletter1911';
    src: url('../../fonts/goudy-b-1911/goudy_bookletter_1911-webfont.eot');
    src: url('../../fonts/goudy-b-1911/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/goudy-b-1911/goudy_bookletter_1911-webfont.woff') format('woff'),
         url('../../fonts/goudy-b-1911/goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('../../fonts/goudy-b-1911/goudy_bookletter_1911-webfont.svg#goudyBookletter1911') format('svg');
    font-weight: normal;
    font-style: normal;

}

$brand-ff-header: $serif;
$brand-ff-header-loaded: 'goudyBookletter1911', $serif;