/*------------------------------------*\
    $VITALICONS (GRUNTICONS)
\*------------------------------------*/
.vitalicon{
    vertical-align: middle;

    display: inline-block;
    *display: inline;
    *zoom: 1;

    width:16px;
    height:16px;

    background-position: center;
}