/*------------------------------------*\
    $JS TRUMPS
\*------------------------------------*/

.js--only{
    .no-js &{
        display:none !important;
    }
}

.js--no-js{
    .js &{
        display:none !important;
    }
}

    //visually hidden when js is available
    //these are generally things that are animated/shown by js
.js--no-js-visible, .js--visuallyhidden{
    .js &{
        @extend .visuallyhidden;
        opacity: 0;
    }
}

.js--toggle-visuallyhidden{
    //This class is applied by default and is expected to be removed by js or 
    //overwritten within css - it differs from js--visuallyhidden in specificity
    //.js &{
        @extend .visuallyhidden;
        opacity: 0;
    //}
}


.js--no-js--not-haggard{
    .js &, .haggard &{
        display: none !important;
    }
}

.js--no-js--haggard{
    display: none !important;
    .no-js.haggard &{
        display: block !important;
    }
}