/*------------------------------------*\
	$VITAL DOCUMENTATION STYLES
\*------------------------------------*/

@import "settings.brand";
@import "settings.font-defaults";
@import "inuit-defaults/settings.defaults";
@import "settings.breakpoints";
@import "inuit-responsive-settings/settings.responsive";
@import "inuit-functions/tools.functions";
@import "inuit-mixins/tools.mixins";
@import "inuit-responsive-tools/tools.responsive";
@import "tools.aliases";


@font-face {
    font-family: 'goudyBookletter1911';
    src: url('../../fonts/documentation/goudy-b-1911/goudy_bookletter_1911-webfont.eot');
    src: url('../../fonts/documentation/goudy-b-1911/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/documentation/goudy-b-1911/goudy_bookletter_1911-webfont.woff') format('woff'),
         url('../../fonts/documentation/goudy-b-1911/goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('../../fonts/documentation/goudy-b-1911/goudy_bookletter_1911-webfont.svg#goudyBookletter1911') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas';
    src: url('../../fonts/documentation/bebas-neue-fontfacekit/bebasneue_regular_macroman/BebasNeue-webfont.eot');
    src: url('../../fonts/documentation/bebas-neue-fontfacekit/bebasneue_regular_macroman/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/documentation/bebas-neue-fontfacekit/bebasneue_regular_macroman/BebasNeue-webfont.woff') format('woff'),
         url('../../fonts/documentation/bebas-neue-fontfacekit/bebasneue_regular_macroman/BebasNeue-webfont.ttf') format('truetype'),
         url('../../fonts/documentation/bebas-neue-fontfacekit/bebasneue_regular_macroman/BebasNeue-webfont.svg#bebas') format('svg');
    font-weight: normal;
    font-style: normal;

}

$docs-link: #d4604e;
$docs-highlight: lighten($docs-link, 10%);

$docs-main: #221f1f;

$docs-ff-main: goudyBookletter1911, $serif;
$docs-ff-headers: bebas, $sans-serif;

::-moz-selection { background:  lighten($brand-c-inverse,5%); color: #000; text-shadow: none; }
::selection { background: lighten($brand-c-inverse,5%); color: #000; text-shadow: none; }
a::-moz-selection { background: $docs-link; color: $brand-c-inverse; text-shadow: none; }
a::selection { background: $docs-link; color: $brand-c-inverse; text-shadow: none; }



//Unfortunate overrides for default WP styles
.vital-documentation{

	color: $docs-main !important;
	font-family: $docs-ff-main !important;
	letter-spacing: 2px;
	@include inuit-font-size(18px);
	line-height: 1.5;

	p{
		@include inuit-font-size(18px);
		line-height: 1.5;
		margin: 0 auto $base-spacing-unit;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: $docs-ff-headers !important;		
		font-weight: normal !important;
		margin:0 0 $base-spacing-unit;
	}

	a, a:active{
		color: $docs-link;
		transition: color $brand-transition ease;
		text-decoration: none;

		&:hover, &:focus{
			color: $docs-highlight;
		}
	}

}



.vital-doc-header{
	text-align: center;
	max-width: 960px;
	margin:0 auto;
	padding: $base-spacing-unit*2 0 $base-spacing-unit;
}
.vital-doc-main-header{
	line-height: 1;
}
.vital-doc-version-number{
	color: #bbb;
	@include inuit-font-size(14px);
}



.vital-doc-main-content{
	max-width: 960px;
	margin:0 auto;
}

.vital-doc-contents{
	
	ul{
		margin: 0;
	}

	li{
		font-family: $docs-ff-headers;
		@include inuit-font-size(22px);
		margin-bottom: $base-spacing-unit*1.5;

		&:last-child{
			margin-bottom: 0;
		}

		li{
			font-family: $docs-ff-main;
			@include inuit-font-size(18px);
			margin-bottom: 0;
			margin-left:$base-spacing-unit;
			margin-top:$base-spacing-unit*0.5;
		}
	}

	.vital-doc-section-header{
		margin-bottom: $base-spacing-unit*0.5;

		h3{
			border-bottom: solid 1px #eee;
		}
	}
}

.vital-doc-section, .vital-doc-contents{
	background: #fff;

	padding:$base-spacing-unit;

	margin-bottom: $base-spacing-unit*2;

	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
}



.vital-doc-section{

	padding-bottom: 0;

	header .vital-doc-heading{
		@include inuit-font-size(40px);
		text-align: center;
		padding-bottom: $base-spacing-unit;
		border-bottom: 2px dashed $docs-link;
	}

	.vital-doc-subsection{
		border-bottom: 1px solid #eee;
		padding-top: $base-spacing-unit;
		@include inuit-font-size(34px);
	}

	.divider{
		border-top: 2px dashed $docs-link;
		//margin-top: $base-spacing-unit;
	}

	.back-to-wrapper{
		text-align: center;
		a{
			display: block;
			padding: $base-spacing-unit;
			letter-spacing: 3px;
			color: #999;

			&:hover, &:focus{
				color: $docs-highlight;
			}
		}
	}

}
.vital-doc-section-content{
	img{
		display: block;
		margin:0 auto $base-spacing-unit;
		box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);

		max-width: 100%;
		height: auto;
	}
}
.vital-doc-highlight{
	padding: $base-spacing-unit*0.5 $base-spacing-unit;
	background: lighten($docs-link, 40%);
	font-style: italic;

	&:before{
		content: "{ ";
	}
	&:after{
		content: " }";
	}
}
.vital-doc-bullets{
	list-style: disc;
	margin-left:$base-spacing-unit;
	margin-bottom: $base-spacing-unit;
}




.vital-doc-footer{
	text-align: center;

	.vital-doc-theme-image-link{
		margin:0 auto;
		display: inline-block;
		box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
	}

	.vital-doc-theme-image{
		width:300px;
		display: block;
		//border-radius: 100%;
	}
}



.path{
	padding: 3px 5px 2px;
	margin: 0 1px;
	background: #eaeaea;
	background: rgba(0,0,0,.07);
	font-size: 13px;
	font-family: Consolas,Monaco,monospace;
}